html,
body {
  padding: 4px;
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  font-size: 15px;
}

#DribbbleShots {
  display: flex;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: auto;
}
#DribbbleShots .shot {
  position: relative;
  display: block;
  width: 25%;
  text-decoration: none;
}

@media only screen and (max-width: 779px) {
  #DribbbleShots .shot {
    width: 49%;
  }
}
#DribbbleShots .shot:hover img {
  opacity: 0.1;
}
#DribbbleShots .shot:hover .title {
  opacity: 1;
}

#DribbbleShots .shot:hover .title p{
  opacity: 0.8;
  margin-top: 16px;
}

#DribbbleShots .shot .title {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:0px;
  padding: 24px;
  color: white;
  background-color: #2396ff;
  opacity: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  transition: opacity .1s ease-in-out;
}
#DribbbleShots .shot .title p {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  transition: margin-top .2s cubic-bezier(0,0,0.5,1);
}

#DribbbleShots .shot .title a {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  color: white;
}

#DribbbleShots .shot img {
  display: block;
  max-width: 100%;
  transition: opacity .1s ease-in-out;
  z-index: 10;
  /* border-style: solid ;
  border-top-style: none;
  border-color: #f5f5f5;
  border-width: 1px; */
}
